
body{
    background-color:white;
}

#header{
     background-color:lawngreen;
}
   
#user{
    float:right;
    position:fixed;
    top:30px;
    right:10px;
    
}
#nav{
    border-radius:5px;
     background-color:yellow;
    height:30px;
    width:50%;
}

#main{
    border-radius:25px;
    border:solid black 1px;
    width:90%;
    float:right;
    height:350px;
}

#sidebar{
    border-radius:25px;
    background-color:blue;
    width:9.9%;
    height:350px;
    color:white;
    floar:left;
}

#footer{
     background-color:orange; 
}

#logAndReg{
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    border:solid black 1px;
    background-color: lime;
    width:35%;
}

